.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.row {
  @extend .d-flex;
  @media screen and (max-width: $sm-down) {
    flex-wrap: wrap;
  }
}

.rtl {
  direction: rtl;
  unicode-bidi: embed;
}

.ltr {
  direction: ltr;
}

[class*="col-"] {
  padding: 0 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 8.33%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 8.33%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: $lg-down) {
  [class*="col-lg"] {
    width: 100%;
    display: block;
    padding: 0 5px;
  }
}

@media screen and (max-width: $md-down) {
  [class*="col-md"] {
    width: 100%;
    display: block;
    padding: 0 5px;
  }
}

@media screen and (max-width: $sm-down) {
  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  [class*="col-sm"] {
    width: 100%;
    display: block;
    padding: 0 5px;
  }
}

@media screen and (min-width: $sm-up) {
  [class*="col-sm"] {
    padding: 0 15px;
  }

  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 8.33%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 8.33%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: $md-up) {
  [class*="col-md"] {
    padding: 0 15px;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 8.33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 8.33%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: $lg-up) {
  [class*="col-lg"] {
    padding: 0 15px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 8.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 8.33%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
